<div id="movies" class="container">

<h1>This Week at Cinema Fini</h1>
<h2><em>Click a showtime to purchase your ticket!</h2>


<% @movies.each do |movie| %>
  <div>
    <h2><%= image_tag(movie.image_url) %><b><%= movie.title %></b> / <%= movie.rating %> / <%= movie.run_time %></h2>
    <p><%= sanitize(movie.summary) %></p>
  </div>
  <div>
    <% movie.showtimes.each do |show| %>
    <%= link_to show.start_time, '/showtimes/:showtime_id/ticket_orders/new', method: :get, class: "btn btn-success btn-lg" %>
    <%= number_to_currency(show.ticket_price) %>
  </div> 
    <% end %>
<% end %>
</div>

  
    
   







