<p id="notice"><%= notice %></p>

<h1>This Week at Cinema Fini</h1>

<% @movies.each do |movie| %>
  <div>
    <h2><%= image_tag(movie.image_url) %><b><%= movie.title %></b> / <%= movie.rating %> / <%= movie.run_time %></h2>
    <%= sanitize(movie.summary) %>
  </div>
<% end %>